<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="../Pub/css/index.css">
    <link rel="shortcut icon" href="../Pub/images/base-favicon-color.png" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="side">
            <ul class="account-items">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Friends</a></li>
                <li><a href="#">Settings</a></li>
            </ul>

            <div class="logo">
                <img src="/Pub/images/base-favicon-color.png" alt="">
                <p>Base</p>
            </div>
        </div>
        <div class="mid">
            <div class="container">
                <div class="tile" onclick="location.href='/Pub/routes/watch.html'">
                    <img src="/Pub/images/Movie Board PNG Picture, Black Movie Field Board Illustration, Movie Night Clipart, Black Field Board, Movie Field Board PNG Image For Free Download.jpg" alt="">
                    <p>WATCH <b>pARTY</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Game Room Neon Sign, LED Sign for Game Room Decoration, Wall Art Neon Sign, Game Room Led Sign.jpg" alt="">
                    <p>GAME<b>rOOM</b></p>
                </div>

                <div class="tile" onclick="location.href='/Pub/routes/chatting.html'">
                    <img src="/Pub/images/meowth icon.jpg" alt="">
                    <p>JUST<b>cHATTING</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Download Live, Live png, Transparent live icon for free.jpg" alt="">
                    <p>VIDEO<b>cHAT</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/base-favicon-color.png" alt="">
                    <p>NEWS</p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/base-favicon-color.png" alt="">
                    <p>BLOGS<b>vLOGS</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/27 Signs You're Addicted To _Serial_.jpg" alt="">
                    <p>DISCUSS<b>fORUMS</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Kermit the frog meme.jpg" alt="">
                    <p>DANK<b>mEMES</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Bee -- PRINTS, Various sizes.jpg" alt="">
                    <p>A<b>rtsy</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Best AI Survey Question Generators for 2024 [Start For Free].jpg" alt="">
                    <p>SERVEY<b>wARS</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Red Pill Or Blue Pill Wake Up Or Go Back To Sleep Sticker.jpg" alt="">
                    <p>S<b>OLVERS</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/radio.jpg" alt="">
                    <p>R<b>ADIO</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Ikon Tiket Bioskop Gaya Kartun, Ikon Gaya, Ikon Kartun, Ikon Sinema PNG dan Vektor dengan Background Transparan untuk Unduh Gratis.jpg" alt="">
                    <p>e<b>VENTS</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Wumpus Beyond PFP.jpg" alt="">
                    <p>Discord<b>servers</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Loudspeakers Clipart Transparent PNG Hd, Loudspeaker Or Megaphone Icon Symbol Isolated On White Background, White Icons, Megaphone Icons, Background Icons PNG Image For Free Download.jpg" alt="">
                    <p>Self<b>promo</b></p>
                </div>
                
                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Shop Deals Logo.jpg" alt="">
                    <p>Market<b>place</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Premium Vector _ Simple Music Logo Design Concept Vector.jpg" alt="">
                    <p>Music<b>/podcasts</b></p>
                </div>

                <div class="tile" onclick="location.href=''">
                    <img src="/Pub/images/Premium Vector _ Question mark from question words search answers vector illustration.jpg" alt="">
                    <p>Q&A<b>Sessions</b></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/Pub/func/base.js"></script>
</body>
</html>
