<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="../Pub/css/login.css">
    <link rel="shortcut icon" href="../Pub/images/base-favicon-color.png" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="gim"></div>

        <div class="mig">
            <p>It's great to see you</p>
            <h1>B<span>ase</span></h1>
            <form id="loginForm">
                <input type="text" name="Email" id="email" placeholder="Email">
                <input type="password" name="Password" id="password" placeholder="Password">
                <button type="button" id="loginButton">Login</button>
            </form>
            <a href="/Pub/views/signup.html" class="era">Have an Account?<span> Register</span></a>
        </div>
    </div>

    <!-- Script inclusion -->
    <script src="/Pub/func/base.js"></script>
</body>
</html>
