<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base</title>
    <link rel="stylesheet" href="/Pub/css/signup.css">
    <link rel="shortcut icon" href="/Pub/images/base-favicon-color.png" type="image/x-icon">
</head>
<body>
    <div class="main">
        <div class="gim">
        </div>

        <div class="mig">
            <p>Its great to see you</p>
            <h1>B<span>ase</span></h1>
            <form action="post">
                <input type="text" name="Email" id="" placeholder="Email">
                <input type="text" name="UserName" id="" placeholder="UserName">
                <input type="text" name="Password" id="" placeholder="Password">
                <input type="text" name="COnfirm" id="" placeholder="COnfirm Password">
            </form>

            <button type="submit">Register</button>
            <a href="/Pub/views/login.html" class="era">Have an Account?<span>Login</span></a>
        </div>
    </div>
</body>
</html>